.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.link {
  color: blue;
  text-decoration: underline;
  font-size: 1.2em;
}